<!DOCTYPE html>
<html>

<head>

    <!-- link to all CSS files -->

    <link rel="stylesheet" type="text/css" href="maincss.css">
    <link rel="stylesheet" type="text/css" href="buttonCSS.css">
    <link rel="stylesheet" type="text/css" href="resultsBoxes.css">

    <!-- Link to all angularJS library -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

    <!-- Link to the main js file -->

    <script type="text/javascript" src="theMainScript.js"></script>

    <title>Search Results</title>
</head>

<body ng-app="replantMain">

    <header style="height: 50px;">
        <h1 style="font-size: 25px;">Replant</h1>
    </header>

    <div class="content" style="position: fixed; margin-left: -7pt; margin-top: 28pt; margin-bottom: 25pt;">

        <nav>
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><input class="searchInput" type="text" ng-model="newKeyword" placeholder="filter results" style="margin-top: 10pt; margin-bottom: -10pt; background-color: white;"></li>
            </ul>
        </nav>

    </div>

    <br>
        <!-- <input class="searchInput" type="text" ng-model="newKeyword" placeholder="search plant" style="float: right; position: relative; margin-top: 200pt;"> -->

    <div ng-controller="searchController as search1">


        <form style="position: fixed; margin-top: 70pt;">
            <input class="searchInput" type="text" ng-model="newKeyword" placeholder="search plant" style="float: left;">

            <span>
				
					<a href="#/result" ng-click="search1.addKeyword()" style="float: left;">
						<button class="homeButton">
							Search!
						</button>
					</a>
			</span>
        </form>
    </div>


    <br><br>
    <h2 style="margin-top: 80pt;">Search Results:</h2>

    <ul class="rig columns-4" ng-controller="resultsController as search2" ng-model="newKeyword2" >
        <li ng-repeat="obj in resultset | filter: newKeyword">
            <a href="#/view" value={{obj._id}} ng-click="search2.addKeyword2(post.obj._id)">

                <!-- display the picture of plant -->
                <img ng-if="obj.multimedia[0].identifier" src={{obj.multimedia[0].identifier}}>
                <img ng-if="!obj.multimedia[0].identifier" src="pictures/defaultPic.jpg">

                <!-- display the information of plant -->
                <h3 class="h3class" ng-bind="obj.scientificName"></h3>
                <p>Taxon Rank:&nbsp<span ng-bind="obj.rank"></span></p>
                <p>Other names:&nbsp<span ng-repeat="ncbinames in obj.names" ng-bind="ncbinames.name"></span><span>,&nbsp</span></p>
            </a>
        </li>
    </ul>
        
    <!-- </div> -->

    <footer>
        <p>Software Engineering Group Project | G52GRP</p>
    </footer>

</body>

</html>