<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="maincss.css">
	<link rel="stylesheet" type="text/css" href="buttonCSS.css">
	<link rel="stylesheet" type="text/css" href="resultsBoxes.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<title>Search Results</title>
</head>

<body ng-app="resultsPage">

	<header><h1>Replant</h1></header>

	<div class="content">

	<nav>
		<ul>
			<li><a href="replant_HomePage.html">Home</a></li>
		</ul>
	</nav>

	</div>

	<br>

	<input class="searchInput" type="text" ng-model="search1" name="mainsearch" placeholder="enter here">
			<span>
			<button class="homeButton" type = "button" ng-click="search()">Search!</button>
			</span>

	<br><br><h2>Search Results:</h2>

	<ul class="rig columns-3" ng-controller="Ctrllr">
		<li>
			<img src="pic1.jpg">
			<h3 class="h3class">Scientific Name</h3>
			<p>Taxon Rank</p>
			<p>distribution</p>
		</li>

		<li ng repeat="data in records"> <!-- to be filled -->
			<img src="{{imageLink}}">
			<h3 class="h3class">{{scientificName}}</h3>
			<p>{{taxonRank}}</p>
			<p>{{distribution}}</p>
		</li>
	</ul>

	<script type="text/javascript">
		var app = angular.module("resultsPage", []);

		app.controller("Ctrllr", function($scope){
			$scope.records = [
				//to be filled
			]
		});
	</script>

	<footer>
		<p>Software Engineering Group Project | G52GRP</p>
	</footer>

</body>
</html>