<html ng-app="replantMain">
<head>
	<title>Replant</title>
	<link rel="stylesheet" type="text/css" href="maincss.css" media="screen" />

	<!-- link to angularJS libraries -->

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

	<!-- Link to the main js file -->

	<script type="text/javascript" src="theMainScript.js"></script>

</head>
<body>

<!--  The Query Block  -->

	<!-- <script>
		<p>Hello</p>
		var app = angular.module("replantMain", []);

		app.controller("homeController", function($scope){

			$scope.searchKey = function(){
				console.log($scope.searchterm);
				$http.get('/search/' + $scope.searchterm).then(function(res) {
					//$scope.publish = res.data;
					console.log(res);
				})
				.catch(function(err) {
					console.log(err);
				})
			}

		});


	</script> -->

<!--  The Query Block End  -->


	<header><h1>Replant</h1></header>

	<div class="containerBox">

		<img src="pic1.jpg" align="middle">

	</div>

	<h3>Search here. Anything.</h3>

	<a href="#/result">results page</a>
	
	<div  ng-controller="searchController as search1" class="inputmiddle">
	<div>

		<form class="form-wrapper cf" ng-submit="search1.addKeyword(search1.newKeyword)">

			<input type="text" ng-model="search1.newKeyword" placeholder="enter here">
			<span>
			<button type = "submit">
				<a href="#/result">Search!</a>
			</button>
			</span>
		</form>
	</div>
	</div>
	<!--<div ng-app="replantMain" ng-controller="replantCtrl">-->
	<table class = "table">
	<thead>
		<tr>
			<th>taxonID</th>
			<th>ScientificName</th>
			<th>genericName</th>
			<th>&nbsp;</th>

		</tr>
	</thead>
	<tbody>
			<tr ng-repeat= "db in merge ">
			<form ng-submit="search()">
			<td>{{db._id}}</td>
			<td>{{db.ScientificName}}</td>
			</form>
			</tr>
	</tbody>
	</table>
		

	<!--</div>-->

	<footer>
		<p>Software Engineering Group Project | G52GRP</p>
	</footer>
	<script src = "controller/controller.js"></script>
	

</body>
</html>