div.boxedImage {
	float: left;
	display: block;
	width: 40%;
	margin-top: 110px;
	/*margin-right: auto;
	margin-left: 10px; */
	/* margin: auto; */
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

div.boxContainer {
	text-align: center;
	padding: 10px 20px;
}

div.plantDetails {
	float: left;
	display: block;
	margin-top: 110px;
	margin-left: 50px;
}